html,body{
    height: 100%;
    margin: 0;
}

.show, #bg{
    display: block ! important;
}

.screen,#bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

#bg{
    height: 100%;
}

#game{
    cursor: crosshair;
}